h2 {
    font-size: 40px;
    background-color: #254e66;
    color: #ffffff; 
    padding: 1em;
    margin-bottom: 1em;
}

.title {
    font-size: 65px;
    color: #3a3534;
    margin: 50px 50px 50px 50px;
}


.inline-figure {
    max-height: 400px;
    max-width: 400px;
    min-width: 200px;
    
}

.footer {
    margin-top: 5em;
}

.card-header{
    background-color: #254e66;
    color: #ffffff; 
}
  